<div class="container">
    <div class="clearfix">
        <h1 class="pull-left">Lobby</h1>
        <h3 class="pull-right" ng-show="game.amHost()">Host</h3>
    </div>
    <h2 class="text-center">{{game.nickname}}</h2>
    <h3 class="text-center">{{game.id}}</h3>
    <div class="players">
        <h2 class="text-center">Players</h2>
        <ol class="list-group" ng-show="game.players.length">
            <li ng-repeat="player in game.players">{{player.name}}</li>
        </ol>
        <p ng-hide="game.players.length" class="text-center">No players have joined the game yet.</p>
    </div>
    <div class="text-center">
        <button class="button gold" ng-disabled="game.players.length < 4">Start Game</button>
        <br/>
        <small ng-show="game.players.length < 4">Game requires at least 4 players</small>
    </div>
    <div class="log">
        <ul class="list-group">
            <li ng-repeat="item in game.log">
                <i ng-if="item.from === 'system'">{{item.message}} <span class="timestamp">{{item.time}}</span></i>
                <span ng-if="item.from !== 'system'"><strong>{{item.from}}:</strong> {{item.message}} <span class="timestamp">{{item.time}}</span></span>
            </li>
        </ul>
        <form ng-submit="sendMessage(chatMessage)" ng-hide="game.amHost()">
            <input type="text" ng-model="chatMessage" placeholder="Type a message" required/>
            <button class="button" type="submit">Send</button>
        </form>
    </div>
</div>
